# @Author: GeorgeRaven <archer>
# @Date:   2020-10-20T23:58:25+01:00
# @Last modified by:   archer
# @Last modified time: 2020-10-21T14:42:42+01:00
# @License: please see LICENSE file in project root

image: docker:stable

services:
  - docker:dind

before_script:
  - docker info

build:
  only:
    - master
    - dev
  # before_script:
  #   - docker login registry.gitlab.com -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD}
  script:
    - docker build -t "$(echo "${CI_PROJECT_ROOT_NAMESPACE}/${CI_PROJECT_NAME}:latest" | tr "[:upper:]" "[:lower:]")" .
    # - docker build -t ${CI_REGISTRY}/${CI_PROJECT_PATH}:latest .
    # - docker push ${CI_REGISTRY}/${CI_PROJECT_PATH}:latest
  after_script:
    - docker logout ${CI_REGISTRY}
  stage: build
  tags:
    - docker
